/* FONTS */
@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url(../fonts/Montserrat-Thin.ttf);
}

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url(../fonts/Montserrat-Regular.ttf);
}

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url(../fonts/Montserrat-Medium.ttf);
}

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url(../fonts/Montserrat-SemiBold.ttf);
}

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url(../fonts/Montserrat-Bold.ttf);
}

body {
  font-family: "Montserrat", sans-serif;
}
/* COLOR VARIABLES */
:root {
  --white: #fff;
  --black: #000;
  --milky-white: #f1f1f1;
}
/* FOR BROWSER */
html {
  scroll-behavior: smooth;
}

/* HEADER */
.header {
  height: 9.5em;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.header__logo {
  width: 5.5em;
  margin-left: 4em;
}

.header__nav {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.header__nav a {
  cursor: pointer;
  color: var(--black);
  font-family: "Montserrat-regular", sans-serif;
  margin-right: 3em;
  font-size: 1.5em;
  text-decoration: none;
  transition: 0.2s;
}

.header__nav a {
  text-decoration: none;
  position: relative;
}
.header__nav a::before {
  content: "";
  bottom: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: var(--black);
  transition: 0.2s;
  transform: scaleX(0);
}
.header__nav a:hover:before {
  transform: scaleX(1);
}

.header__lang {
  margin-right: 4em;
}

/* ABOUT US*/
.about-us {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  height: 50em;
  align-items: center;
  background: url("../img/house-bg.webp") no-repeat center center;
  background-size: cover;
}

.about-us__title {
  width: 23em;
  font-size: 2.5em;
  text-align: center;
  color: var(--white);
  margin-top: 3em;
}

.about-us__text {
  width: 30em;
  font-family: "Montserrat-regular", sans-serif;
  font-size: 1.5em;
  text-align: center;
  color: var(--white);
}

.about-us__button {
  width: 14em;
  height: 3em;
  border-radius: 4em;
  border: 4em, none;
  background: var(--white);
  font-size: 1.2em;
  text-align: center;
  color: var(--black);
  margin-top: 4em;
}

.about-us__button:hover {
  cursor: pointer;
  transition: 0.2s;
}
